.navbar {
    background-color: #343a40;
}

.navbar .navbar-brand {
    color: #fff ;
}

.navbar .nav-link {
    color: #fff !important;
    text-decoration: none !important;
    margin-right: 20px;
}

@media (max-width: 576px) {
    .navbar .nav-link {
        margin-right: 0; 
    }
 }

.logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease; }